html {
    overflow: hidden;
    color: white;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
    letter-spacing: 1%;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    font-style: normal;
    font-variant: small-caps;
    text-transform: none;
    text-shadow: 1px 1px 1px rgba(92, 92, 92, 0.836);
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        top: 60%
    }
    50% {
        top: 51%
    }
    100% {
        opacity: 1;
        top: 50%
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        top: 50%;
        left: 1%
    }
    100% {
        opacity: 0;
        left: -15%;
    }
}

#container {
    position: absolute;
    top: 50%;
    left: 1%;
    /* width:15%; */
    max-width: 25%;
    transform: translateY(-50%);
}

.fadeIn {
    animation: fadeIn ease 1s forwards;
}

.fadeOut {
    animation: fadeOut ease 1s forwards;
}

#box {
    width: 100%;
    background: linear-gradient(180deg, #147efb 0%, #147efb 100%);
    border-radius: 4px;
}

#title,
#text {
    width: calc(100% - 20px);
}

#text {
    padding: 12px;
    color: #fff;
    font-family:"Roboto","Helvetica","Arial",sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
}