html {
    overflow: hidden;
}

@font-face {
    font-family: 'pricedown';
    src: url(pricedown.ttf);
}

.container {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 120;
    right: 40;
    /* width: 1400px;  height: 200px; */
}

#balance {
    float: right;
    font-family: pricedown;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    padding: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    margin-right: 6px;
    padding: 0;
}

#cash {
    float: right;
    font-family: pricedown;
    font-weight: 400;
    font-size: 2rem;
    color: white;
    padding: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    margin-right: 6px;
    padding: 0;
}

#add-balance {
    float: right;
    font-family: pricedown;
    font-weight: 400;
    font-size: 29px;
    color: white;
    padding: 4px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    margin: 0;
    margin-right: 6px;
    margin-top: 6px;
    padding: 0;
}

#icon {
    height: 21px;
    width: auto;
    margin-right: 10px;
}

.green {
    color: rgb(0, 125, 0);
    font-weight: 700;
    margin-right: 6px;
}

.red {
    color: rgb(255, 0, 0);
}

#pre {
    font-size: 0.8rem;
    margin-right: 5px;
}

.balance {
    display: inline-block;
    height: 30px;
    width: 100%;
}

.cashtransaction {
    display: inline-block;
    height: 30px;
    width: 100%;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    color: white;
}
